@import url("reset.css");
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
.pointer {
  cursor: pointer;
}
html,
body {
  height: 100%;
  width: 100%;
}
header {
  height: 1em;
  background-color: #009DD6;
}
span,
label,
button {
  font-family: "Montserrat", sans-serif;
}
span,
label {
  font-size: 1.3em;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  margin-left: 2.5%;
  float: left;
}
aside .main-logo {
  overflow: hidden;
  height: 17em;
  width: 60%;
}
aside .main-logo img {
  height: 100%;
  width: 100%;
}
aside form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}
aside form label,
aside form input {
  margin-bottom: 1em;
}
aside form input {
  border-radius: 1em;
  padding-left: 1em;
  outline: none;
  width: 90%;
}
aside form .reg-buttons {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  flex-wrap: wrap;
}
aside form button {
  border: 2px solid #009DD6;
  border-radius: 1em;
  height: 1.8em;
  color: black;
  background-color: white;
}
aside form .submit {
  width: 80%;
  margin-bottom: 1em;
}
aside form .new-register {
  width: 80%;
}
aside hr {
  height: 2px;
  width: 80%;
  margin-top: 3em;
  color: black;
}
aside .invest,
aside .crowdfunding {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin-bottom: 2em;
  text-align: center;
  vertical-align: middle;
}
section {
  height: 98%;
  width: 77.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 2.5%;
  background: linear-gradient(to top, #ffffff, #cccccc) no-repeat;
}
.container {
  height: 90%;
  width: 80%;
  margin: 3em 3em 3em 3.5em;
  background-color: white;
  overflow: hidden;
}
.container img {
  height: 100%;
  width: 100%;
}
.left-button,
.right-button {
  height: 1em;
  width: 1em;
  cursor: pointer;
}
.left-button {
  margin: 0 2em 0 2em;
}
.right-button {
  margin: 0 2em 0 2em;
}
::-webkit-scrollbar {
  /* Here is style for vertical scrollbar */
  color: grey;
  height: 0.7em;
  width: 0.7em;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  color: black;
  border-radius: 10px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: #035accab;
}
