@import url("reset.css");
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
.landing-header {
  height: 1em;
  background-color: #009DD6;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  margin-left: 2.5%;
  float: left;
}
aside .main-logo {
  overflow: hidden;
  height: 17em;
  width: 60%;
}
aside .main-logo img {
  height: 100%;
  width: 100%;
}
aside form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}
aside form label,
aside form input {
  margin-bottom: 1em;
}
aside form input {
  border-radius: 1em;
  padding-left: 1em;
  outline: none;
  width: 90%;
}
aside form .reg-buttons {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  flex-wrap: wrap;
}
aside form button {
  border: 2px solid #009DD6;
  border-radius: 1em;
  height: 1.8em;
  color: #009DD6;
  background-color: white;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-property: color, background-color;
}
aside form button:hover {
  color: white;
  background-color: #009DD6;
}
aside form .submit {
  width: 80%;
  margin-bottom: 1em;
}
aside form .new-register {
  width: 80%;
}
aside hr {
  height: 2px;
  width: 80%;
  margin-top: 3em;
  color: black;
}
aside .invest,
aside .crowdfunding {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin-bottom: 2em;
  text-align: center;
  vertical-align: middle;
}
.landing-section {
  height: 98%;
  width: 77.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 2.5%;
  background: linear-gradient(to top, #ffffff, #cccccc) no-repeat;
}
.container {
  height: 90%;
  width: 80%;
  margin: 3em 3em 3em 3.5em;
  background-color: white;
  overflow: hidden;
}
.container img {
  height: 100%;
  width: 100%;
}
.left-button,
.right-button {
  height: 1em;
  width: 1em;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-property: color, background-color;
}
.left-button:hover,
.right-button:hover {
  color: #009DD6;
}
.left-button {
  margin: 0 2em 0 2em;
}
.right-button {
  margin: 0 2em 0 2em;
}
.filesystem-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 5em;
  width: 100%;
  background-color: #009DD6;
}
.filesystem-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  width: 10%;
}
.filesystem-logo img {
  height: 100%;
  width: auto;
  border-radius: 1em;
  background-color: white;
}
.filesystem-header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  width: 30%;
  cursor: pointer;
}
.filesystem-header-buttons a {
  font-size: 1.1em;
}
.filesystem-header-buttons i {
  padding-left: 0.6em;
}
.filesystem-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  width: 12%;
}
.filesystem-profile .profile-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 10%;
}
.filesystem-profile .profile-buttons i {
  padding: 0.2em;
  border: 2px solid black;
  border-radius: 0.5em;
  cursor: pointer;
}
.filesystem-profile .profile-buttons i:hover {
  color: white;
  border-color: white;
}
.filesystem-profile > i:first-of-type {
  border: 2px solid black;
  border-radius: 1em;
  padding: 0.2em;
}
.filesystem-section {
  height: 85vh;
  width: 100%;
  overflow: hidden;
}
.filesystem-section .filesystem-tabs {
  margin: 0 auto;
  height: 4em;
  width: 99%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(to right, #ffffff, #dee1e6, #ffffff) no-repeat;
}
.filesystem-section .filesystem-tabs .tab {
  width: 15%;
  margin-right: 0.4em;
  padding: 1.1em 1em 0.8em;
  overflow: hidden;
  background-color: white;
  border: 1px solid black;
}
.filesystem-section .filesystem-tabs .tab img,
.filesystem-section .filesystem-tabs .tab span {
  text-align: center;
  margin-left: 1.5em;
}
.filesystem-section .filesystem-container {
  height: 100%;
  overflow: hidden;
}
.filesystem-section .filesystem-container .container-buttons {
  height: 4em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #edeef1;
}
.filesystem-section .filesystem-container .container-buttons .container-button {
  cursor: pointer;
}
.filesystem-section .filesystem-container .container-buttons .container-button i:hover {
  color: #009DD6;
}
.filesystem-section .filesystem-container .container-path {
  height: 3em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px dashed black;
}
.filesystem-section .filesystem-container .container-navigator {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  flex-wrap: nowrap;
}
.filesystem-section .filesystem-container .container-navigator .navigator-aside {
  width: 20%;
  margin: 0 0 0 3%;
}
.filesystem-section .filesystem-container .container-navigator .navigator-main {
  width: 70%;
  margin: 0 3% 0 2%;
}
.filesystem-section .filesystem-container .container-navigator .navigator-aside,
.filesystem-section .filesystem-container .container-navigator .navigator-main {
  height: 90%;
  padding: 1em 3em;
  border-radius: 1em;
  overflow: auto;
  background-color: beige;
}
.filesystem-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 5em;
  width: 100%;
  border-top: 2px solid black;
}
.filesystem-footer nav {
  height: 90%;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.filesystem-footer nav a {
  width: 9em;
  padding: 0.6em 0.7em 0.6em 0;
  cursor: pointer;
  text-align: center;
  border-right: 2px solid black;
}
.filesystem-footer .social-links {
  height: 90%;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.filesystem-footer .social-links i {
  height: 1.7em;
  width: 1.7em;
  border-radius: 1.7em;
  background-color: #009DD6;
  cursor: pointer;
}
.filesystem-footer .social-links i:before {
  position: relative;
  left: 0.4em;
  top: 0.55em;
  color: white;
}
.filesystem-footer .social-links .social-links i:before:hover {
  color: yellow;
}
.filesystem-footer .social-links .google-plus i:before,
.filesystem-footer .social-links .youtube i:before {
  left: 0.3em;
}
.pointer {
  cursor: pointer;
}
.hidden {
  overflow: hidden;
}
html,
body {
  height: 100%;
  width: 100%;
}
span,
label,
button {
  font-family: "Montserrat", sans-serif;
}
span,
label {
  font-size: 1.3em;
}
::-webkit-scrollbar {
  /* Here is style for vertical scrollbar */
  color: grey;
  height: 0.7em;
  width: 0.7em;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  color: black;
  border-radius: 10px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: #035accab;
}
