@media screen and (min-width: 480px) and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  section {
    width: 100%;
  }
  aside {
    width: 100%;
  }
}
